<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
    <hl>Welcome to My Website!</hl>
    <p>Please stay a while and look around</p>
    <p>Hello <%= locals.userName ?? 'New User!' %></p>
    <% if(locals.userName==="George"){ %>
        <p><img width="200" src="CG-header.png" ></p>
    <% } %>
    
</body>
</html>
