<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="styles.css">
    <title>Document</title>
</head>
<body>
    <hl>Welcome to George's Word of The Day</hl>
    <p>Everytime you visit, there will be a different word shown!</p>  
    <p>Here is your word!</p>  
    <p><%= word %> - <%= part %></p> 
    <p><%= definition %></p> 
</body>
</html>
